<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col" class="text-center" class="align-middle">#</th>
      <th scope="col" class="text-center">
        Name
        <div data-action-index="0">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        Id
        <div data-action-index="1">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        Active
        <div data-action-index="2">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        CPU
        <div data-action-index="3">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        Memory
        <div data-action-index="4">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        Threads
        <div data-action-index="5">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        Username
        <div data-action-index="6">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        File
        <div data-action-index="7">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="text-center">
        Start Time
        <div data-action-index="8">
          <button class="btn btn-block btn-secondary btn-sm " data-toggle="sort-process-list" data-url="@Url.Page("Index", "Sort")">
            <i class="fas fa-sort"></i>
          </button>
        </div>
      </th>
      <th scope="col" class="align-top">
        Actions
      </th>
    </tr>
  </thead>
  <tbody id="process-table-body-placeholder">

  </tbody>
</table>